body {
  font-family: sans-serif;
  /* background-color: #ee6e73; */
  background-color: #fff;
  color: #ee6e73;
  padding: 10px;
  text-align: center;
  font-size: large;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ee6e73;
  border-radius: 30px;
  background-color: #f7f7f7;

  height: 40px;
  font-size: large;
}

button {
  width: 10%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  background-color: #f7f7f7;
  height: 40px;
  font-size: large;
  margin: 10px;
}
.images {
  display: block;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}

.image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

img {
  border-radius: 30px;
}

.flags {
  height: 460px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.red {
  background: red;
  height: 80px;
}
.black {
  background: black;
  height: 80px;
}
.green {
  background: green;
  height: 80px;
}
.white {
  background: white;
  height: 20px;
}
